[submodule "learning-factory-machine-configs"]
	path = learning-factory-machine-configs
	url = https://github.com/CNC-lathe/learning-factory-machine-configs.git
[submodule "lf-utils"]
	path = lf-utils
	url = https://github.com/CNC-lathe/lf-utils.git
